#home-page .welcome {
    margin-top: 3rem;
}

#home-page .see-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#home-page .see-more #toggle-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-page .see-more #toggle-btn p {
    margin-bottom: 0;
}

#home-page .subtitle {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#home-page .subtitle i {
    font-size: 18px;
}

#home-page #card-options {
    margin-top: 4rem;
}

#home-page #card-options .card {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 2rem;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
}

#home-page #card-options .card:hover {
    background-color: var(--primary-hover);
    outline: 1px solid var(--primary);
}

#home-page .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page .option i {
    color: var(--primary);
    font-size: 5rem;
}

#home-page .option label {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

#home-page a.small-button {
    font-size: 11px;
    padding: 0.3rem;
    height: 1.3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#home-page #card-options a {
    text-decoration: none;
}

#home-page .accordion-item {
    background-color: transparent;
    border: none;
}

#home-page .accordion-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}